<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>theme</key>
		<version>5.2.0</version>
		<lastMod>2013-02-27</lastMod>
		<menu>NO</menu>
		<name><![CDATA[Theme]]></name>
	</data>

    <locale language="fr_FR">
		<name><![CDATA[Thême]]></name>
    </locale>

    <i18n>
        <file>index.php</file>
    </i18n>

</element>