#AddDefaultCharset utf-8

Options None
Options +FollowSymLinks

<Files .[lo*|sql|ht*]>
	order allow,deny
	deny from all
</Files>
<Files *.tmp>
	order allow,deny
	deny from all
</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RedirectPermanent /app/admin/index.php /admin/
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-s
	
	RewriteRule ^(.*)?$ 			app/index.php?rewrite=$1		[NC,QSA,L]
	RewriteRule ^$ 					app/index.php					[NC,QSA,L]

	
	# Protection contre le pillage des images sources (appel direct de l'image source via l'URL)
	#
	#RewriteCond %{REQUEST_FILENAME} -s
	#RewriteCond %{HTTP_REFERER} !.*/admin/	[NC]
	#RewriteRule media/protected/.*(\.jpg) - [F,L]
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/less
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/atom_xml
	AddOutputFilterByType DEFLATE application/x-javascript
	
	SetOutputFilter DEFLATE
	
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
	SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
	SetEnvIfNoCase Request_URI \.(?:pdf|avi|mov|mp3|mp4|rm)$ no-gzip dont-vary

	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	
	# Pour les proxies
	Header append Vary User-Agent env=!dont-vary
</IfModule>

<IfModule mod_expires.c>
	ExpiresByType text/js "modification plus 5 minutes"
</IfModule>