<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>localisation</key>
		<version>5.0.3</version>
        <lastMod>2013-01-02</lastMod>

		<name><![CDATA[Traduction]]></name>
		<description><![CDATA[]]></description>
		<menu>NO</menu>
	</data>

	<less>
		<file>/ui/css/localisation.less</file>
	</less>

</element>