<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>localisation</key>
		<version>5.1.0</version>
        <lastMod>2013-02-24</lastMod>
		<menu>NO</menu>

		<name><![CDATA[Traduction]]></name>
	</data>

    <i18n>
        <file>index.php</file>
        <file>grid.php</file>
    </i18n>

</element>