<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>clientftp</key>
		<version>5.2.3</version>
        <lastMod>2013-02-27</lastMod>
		<name><![CDATA[FTP Client]]></name>
	</data>

    <locale language="fr_FR">
        <name><![CDATA[Client FTP]]></name>
    </locale>

	<profile>
		<item code="index" type="ALLOW_DENY" name="Accessible" />
	</profile>

</element>
