<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>clientftp</key>
		<version>5.0.2</version>
        <lastMod>2013-01-02</lastMod>

		<name><![CDATA[Client FTP]]></name>
		<description><![CDATA[G&eacute;rer les acc&egrave;s FTP suppl&eacute;mentaires]]></description>
	</data>

	<profile>
		<item code="index" type="ALLOW_DENY" name="Accessible" />
	</profile>

</element>
