<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>newsletter</key>
		<version>50</version>
		<name><![CDATA[Newsletter]]></name>
		<description><![CDATA[R&eacute;diger vos newsletters et analyser leur traffic]]></description>
		<panelIcon>ressource/img/module-newsletter.png</panelIcon>
		<install>YES</install>
	</data>

	<profile>
		<item code="index"	 	type="ALLOW_DENY" name="Accessible" />
	</profile>

</element>