<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>field</key>
		<version>5.0.1</version>
		<lastMod>2012-10-21</lastMod>

		<name><![CDATA[Champs]]></name>
		<description><![CDATA[]]></description>
		<menu>NO</menu>
	</data>

	<less>
		<file>/ui/css/asso.less</file>
		<file>/ui/css/field.less</file>
	</less>

</element>