<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>type</key>
		<version>5.2.3</version>
        <lastMod>2013-09-10</lastMod>
		<install>YES</install>
        <menu>NO</menu>
		<name><![CDATA[Type]]></name>
	</data>

    <i18n>
        <file>index.php</file>
        <file>row.php</file>
    </i18n>

    <locale language="fr_FR">
        <name><![CDATA[Type]]></name>
    </locale>

</element>