body{
	background: #FFF;
	font-family: Helvetica, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.container{
	padding-bottom: 20px;
}

.header{
	margin-bottom: 20px;
	font-size: 30px;
	padding: 20px 0px 20px 0px;
}

/* + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - 
+ - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - */
.menu{
	border-top:5px solid #515151;
}
	.menu .content{
		padding-top: 10px;
	}
	
	.menu ul{
		margin: 0px 0px 20px 0px;
	}
		.menu ul li{
			padding-left: 0px;
			margin-bottom: 5px;
		}
			.menu ul li a{
				color: #515151;
				text-decoration: none;
			}

	.menu .label{	
		font-weight: bold;
		font-family: "Helvetica neue" Helvetica;
		margin-bottom: 5px;
	}


/* + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - 
+ - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - */
.body{
	border-top:5px solid #515151;
	line-height: 15px;
}
	.body .content{
		padding-top: 10px;
	}
	
	.body p{
		margin-bottom: 15px;
	}

	.body h1{
		font-size: 25px;
		line-height: 40px;
		border-bottom: 2px solid #515151;
		margin-bottom: 15px;
	}

	.body h3{
		color: #515151;
		font-size: 14px;
		line-height: 20px;
	}

	.lastMod{
		text-align: right;
		font-style: italic;
	}

	.fnIntro{
		margin-bottom: 20px;
	}
	
	.tablo{
		margin: 10px 0px 10px 0px;
		border: 1px solid #ddd;	
	}
		.tablo th{
			text-align: left;
			padding: 5px;
			border-bottom: 2px solid #ddd;
		}
		.tablo tr{
			vertical-align: top;
		}		
		.tablo td{
			padding: 5px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

	.fnName{
		border:1px solid #515151;
		border-left-width: 4px;
		padding: 5px 0px 5px 5px;
		margin: 30px 0px 10px 0px;
		font-size: 15px;
		font-family: Verdana;
	}
	
	.fnNameFirst{
		margin-top:0px;
	}
	
	.fnCool{
		padding: 10px;
		background: #c3d9ff;
		margin: 20px 0px 10px 20px;
	}

	.fnDesc{
		margin: 10px 0px 10px 20px;
	}

	.fnArg{
		margin: 10px 0px 10px 20px;
	}

	.fnSample{
		padding: 10px;
		background: #eff4d7;
		border-left: 2px solid #dddddd;
		margin: 10px 0px 10px 20px;
	}
	




















