<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>ad</key>
		<version>5.0.3</version>
		<lastMod>2013-02-01</lastMod>

		<name><![CDATA[Publicit&eacute;]]></name>
		<description><![CDATA[Administrer les campagnes de publicité que vous afficher sur votre site]]></description>
		<panelIcon>ressource/img/module-ad.png</panelIcon>
		<menu>NO</menu>
	</data>

	<profile>
		<item code="index"	 	type="ALLOW_DENY" name="Accessible" />
	</profile>

</element>