@import      '../../../core/ui/css/0-mixins.less';

#galleryPath{
	position: absolute;
	top:120px; right: 0px; left: 251px; height: 22px;
	background: rgb(200,200,200);

	margin: 0; padding: 0;

	li{
		float: left;
		padding: 4px 0px 4px 0px;
		list-style-type: none;
		padding-left: 5px;
		color: #333;
		cursor: pointer;
	}
}

#galleryTree{
	position: absolute;
	top:120px; left: 0px; bottom: 0px;
	width: 250px;
	background: #404040;
	overflow-y: auto;
	padding: 0px; margin: 0px;

	li          > ul{ display: none;  }
	li.opened   > ul{ display: block; }

	li		    > .item .toggle{	background: url('@{corepath}/img/_img/arrow-folder-close.png') no-repeat left top; }
	li.opened   > .item .toggle{	background: url('@{corepath}/img/_img/arrow-folder-open.png')  no-repeat left top; }

	li{
		list-style-type: none;
		padding: 0; margin: 0;

		.item{
			background: #E1E1E1;
			border-bottom: 1px solid #FFFFFF;
			padding: 3px;
			cursor: pointer;

			.toggle{
				display: block;
				float: left;
				width: 16px; height: 16px;
				cursor: pointer;
			}
			.name{
				display: block; float: left;
				cursor: pointer;
				text-decoration: none; color: #515151;

				&.fly{
					background: deeppink;
				}
			}
		}
	}

	ul{
		margin: 0; padding: 0;
	}
}

#galleryView{
	position: absolute;
	top:143px; right:0px; bottom: 0px; left: 251px;
	background: url(../img/background.png);
	padding: 0px; margin: 0px;
	overflow-y: auto;

	li, .dragging{
		list-style-type: none;
		float: left;
	//	height: 200px;
		width: 160px;
		margin: 15px;
	}

	li.nothing{
		float: none;
		width: inherit;
		height: inherit;
		text-align: center;
		padding: 50px;
		font-weight: bold;
	}

	.toto{
		height: 30px;
		background: red;
	}
}

.gItem{
	position: relative;

	.title{
		color:#FFFFFF; line-height: 26px; font-size: 11px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.media{
		height: 150px; width: 150px; padding: 5px;
		background: rgba(0, 0, 0, .1);

		display: table-cell;
		vertical-align: middle;
		position: relative; z-index: 40;
	}

	.icone{
		height: 150px; width: 150px; padding: 5px;
		z-index: 2;
		cursor: pointer;
		text-align: center;

		img{
			vertical-align: top;

			&.responsive-height{
				height: 100%;
				width: auto;
			}

			&.responsive-width{
				height: auto;
				width: 100%;
			}

			&.shadow{
				box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
			}

			&.loading{
				background: url('@{corepath}/img/_img/media-loader-reverse.png') no-repeat center center;
			}

			&.posterized{
				box-shadow: 0 0 3px #000000;
			}
		}
	}

	&:hover .action{
		display: block;
	}

	&.ui-sortable-helper{
		.title, .action{
			display: none;
		}
	}

	.action{
		display: none;
		position: absolute; z-index: 50;
		top: 0; right: 0; padding:3px 0 3px 0;
		background: rgba(0, 0, 0, 0.5);

		img{
			cursor: pointer;
		}

		.visibility.off,
		    .poster.off{
			opacity: .25;
		}
	}
}
/*.fly .media{
	background: #e1e1e1;
	background: #F60F60;
}*/

#gCarrousel{
	margin-top: 20px;

	a{
		color:#666666; font-weight: bold;
		text-decoration: none;
	}

	.previous{
		width: 25%;
		text-align: left;

		.isimg{
			-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
		}
	}

	.current{
		width: 50%;
		text-align: center;
	}

	.next{
		width: 25%;
		text-align: right;
	}
	
	.previous img, .next img, .current img{
		margin-top: 5px;
	}

	.previous .isimg, .next .isimg{
		-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	}
	
}

#import{
	margin-top: 40px;

	section{
		float: left;
		width: 33%;

		&:first-child{
			margin-right: 6px;
		}

		&:last-child{
			float:right;
		}

		h2{
		}
	}

	#log{
		height: 30px;
	}
}

#queue{
	min-height: 600px;
	background: pink;

	.uploadifive-queue-item{
		background: #e1e1e1;
		padding: 5px;
		margin-bottom: 5px;

		.close{

		}

		.filename{

		}

		.fileinfo{

		}

		.progress{

			.progress-bar{

			}
		}
	}
}
