<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>comment</key>
		<version>5.1.0</version>
        <lastMod>2013-02-24</lastMod>
		<menu>NO</menu>
		<install>YES</install>

		<name><![CDATA[Commentaire]]></name>
	</data>

    <i18n>
        <file>index.php</file>
    </i18n>

</element>