<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>config</key>
		<version>5.2.0</version>
        <lastMod>2013-02-27</lastMod>
		<install>YES</install>
		<name><![CDATA[Config]]></name>
	</data>

    <locale language="fr_FR">
		<name><![CDATA[Configuration]]></name>
    </locale>

	<dependencies>
		<module>theme</module>
	</dependencies>

    <i18n>
        <file>admin.php</file>
        <file>export.php</file>
        <file>field.php</file>
        <file>index.php</file>
        <file>language.php</file>
        <file>language-export.php</file>
        <file>offline.php</file>
        <file>robots.php</file>
        <file>ui/menu.php</file>
    </i18n>

    <profile>
		<item code="index"		type="ALLOW_DENY" name="Enable" />
		<item code="backoffice"	type="ALLOW_DENY" name="Back office" />
		<item code="theme"		type="ALLOW_DENY" name="Theme" />
		<item code="field"		type="ALLOW_DENY" name="Field" />
		<item code="robot"		type="ALLOW_DENY" name="Robots" />
	</profile>

</element>