<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>business</key>
		<version>5.2.1</version>
        <lastMod>2013-07-02</lastMod>
		<install>YES</install>
		<name><![CDATA[eBusiness]]></name>
	</data>

    <locale language="fr_FR">
        <name><![CDATA[eCommerce]]></name>
    </locale>

    <dependencies>
		<module>shop</module>
	</dependencies>

    <i18n>
        <file>account.php</file>
        <file>carriage.php</file>
        <file>config.php</file>
        <file>coupon.php</file>
        <file>data.php</file>
        <file>data-index.php</file>
        <file>detail.php</file>
        <file>edit.php</file>
        <file>hist.php</file>
        <file>index.php</file>
        <file>product.picker.data.php</file>
        <file>product.picker.php</file>
        <file>shop.php</file>
        <file>tax.php</file>
        <file>ui/menu.php</file>
    </i18n>

	<profile>
		<item code="index"		type="ALLOW_DENY" name="Accessible" />
		<item code="coupon"		type="ALLOW_DENY" name="Coupon" />
		<item code="account"	type="ALLOW_DENY" name="Comptes" />
		<item code="tva"		type="ALLOW_DENY" name="TVA" />
		<item code="config" 	type="ALLOW_DENY" name="Config" />
		<item code="manual" 	type="ALLOW_DENY" name="Commande manuelle" />
	</profile>

</element>