<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>business</key>
		<version>5.0.10</version>
        <lastMod>2013-02-14</lastMod>
		<install>YES</install>

		<name><![CDATA[Business]]></name>
	</data>

	<dependencies>
		<module>shop</module>
	</dependencies>

    <i18n>
    </i18n>

    <todo>
        <file>account.php</file>
        <file>carraige.php</file>
        <file>config.php</file>
        <file>coupon.php</file>
        <file>data-index.php</file>
        <file>detail.php</file>
        <file>edit.php</file>
        <file>hist.php</file>
        <file>index.php</file>
        <file>product.picker.data.php</file>
        <file>product.picker.php</file>
        <file>shop.php</file>
        <file>tax.php</file>
    </todo>

	<profile>
		<item code="index"		type="ALLOW_DENY" name="Accessible" />
		<item code="coupon"		type="ALLOW_DENY" name="Coupon" />
		<item code="account"	type="ALLOW_DENY" name="Comptes" />
		<item code="tva"		type="ALLOW_DENY" name="TVA" />
		<item code="config" 	type="ALLOW_DENY" name="Config" />
		<item code="manual" 	type="ALLOW_DENY" name="Commande manuelle" />
	</profile>

</element>