<?xml version="1.0" encoding="UTF-8"?>
<element>

	<data>
		<key>content</key>
		<version>5.2.3</version>
        <lastMod>2013-07-23</lastMod>
		<install>YES</install>
		<name><![CDATA[Contents]]></name>
	</data>

    <locale language="fr_FR">
		<name><![CDATA[Contenu]]></name>
    </locale>

	<dependencies>
		<module>type</module>
		<module>field</module>
		<module>category</module>
		<module>chapter</module>
		<module>localisation</module>
		<module>comment</module>
		<module>ad</module>
		<module>rate</module>
		<module>template</module>
	</dependencies>

    <i18n>
        <file>browse.php</file>
        <file>data.php</file>
        <file>data-language.php</file>
        <file>gallery.php</file>
        <file>gallery-album.php</file>
        <file>gallery-item.php</file>
        <file>gallery-import.php</file>
        <file>index.php</file>
        <file>parent.php</file>
        <file>safe.php</file>
        <file>search.php</file>
        <file>ui/menu.php</file>
    </i18n>

	<profile>
		<item code="index"		type="ALLOW_DENY" name="Accessible" />
		<item code="chapter"	type="ALLOW_DENY" name="Arborescence" />
		<item code="type"		type="ALLOW_DENY" name="Type" />
		<item code="field"		type="ALLOW_DENY" name="Champs" />
		<item code="search"		type="ALLOW_DENY" name="Recherche" />
		<item code="pref"		type="ALLOW_DENY" name="Preference" />
	</profile>
	
</element>