<?xml version="1.0" encoding="UTF-8"?>
<element>

    <data>
        <key>social</key>
        <version>5.1.0</version>
        <lastMod>2013-02-24</lastMod>
        <install>YES</install>

        <name><![CDATA[Social network]]></name>
    </data>

    <i18n>
        <file>forum.php</file>
    </i18n>

    <profile>
        <item code="index"		type="ALLOW_DENY" name="Accessible" />
    </profile>

</element>